.card{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.card button{
    background-color: #68d391;
    color: white;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.card button:hover{
    background-color: #2f855a;
    transition: 0.3s;
}
.posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;               
    gap: 20px;                    
    justify-content: center;       
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}
.post button{
    background-color: #2f855a;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #2f855a;
    color: white;
    border-radius: 5px;
}
.post p{
    width: 400px;
}
.post img{
    width :350px;
    object-fit: cover;
    object-position: center;
}
