

.navbar {
    background-color: #2f855a;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}
.navbar ul li a:hover{
    color: #68d391;
    transition: 0.3s;
}